<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="asus-aura-gpu">Asus Aura GPU</h1>
<h2 id="connection-type">Connection Type</h2>
<p> SMBus</p>
<h2 id="saving">Saving</h2>
<p> Not supported by controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>10DE:1C81</code></td>
<td align="center"><code>1043:85D8</code></td>
<td align="left">ASUS ROG Strix GTX 1050 O2G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1C82</code></td>
<td align="center"><code>1043:8611</code></td>
<td align="left">ASUS ROG Strix GTX 1050 TI 4G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1C82</code></td>
<td align="center"><code>1043:85CD</code></td>
<td align="left">ASUS ROG Strix GTX 1050 TI O4G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1C82</code></td>
<td align="center"><code>1043:85D1</code></td>
<td align="left">ASUS ROG Strix GTX 1050 TI O4G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1C03</code></td>
<td align="center"><code>1043:85A4</code></td>
<td align="left">ASUS GTX 1060 Strix 6G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1C03</code></td>
<td align="center"><code>1043:85AC</code></td>
<td align="left">ASUS GTX 1060 Strix</td>
</tr>
<tr>
<td align="center"><code>10DE:1B81</code></td>
<td align="center"><code>1043:8598</code></td>
<td align="left">ASUS GTX 1070 Strix Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B81</code></td>
<td align="center"><code>1043:8599</code></td>
<td align="left">ASUS GTX 1070 Strix OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1B82</code></td>
<td align="center"><code>1043:861D</code></td>
<td align="left">ASUS ROG Strix GTX1070 Ti 8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B82</code></td>
<td align="center"><code>1043:861E</code></td>
<td align="left">ASUS ROG Strix GTX1070 Ti A8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B80</code></td>
<td align="center"><code>1043:8592</code></td>
<td align="left">ASUS GTX 1080 Strix OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1B80</code></td>
<td align="center"><code>1043:85AA</code></td>
<td align="left">ASUS ROG Strix GTX1080 A8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B80</code></td>
<td align="center"><code>1043:85F9</code></td>
<td align="left">ASUS ROG Strix GTX1080 O8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B80</code></td>
<td align="center"><code>1043:85E8</code></td>
<td align="left">ASUS ROG Strix GTX1080 O8G 11Gbps</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1043:85EB</code></td>
<td align="left">ASUS ROG Strix GTX1080 Ti Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1043:85F1</code></td>
<td align="left">ASUS ROG Strix GTX1080 Ti 11G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1043:85EA</code></td>
<td align="left">ASUS ROG Strix GTX1080 Ti O11G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1043:85E4</code></td>
<td align="left">ASUS ROG Strix GTX1080 Ti O11G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2187</code></td>
<td align="center"><code>1043:874F</code></td>
<td align="left">ASUS ROG Strix GTX 1650S OC 4G</td>
</tr>
<tr>
<td align="center"><code>10DE:21C4</code></td>
<td align="center"><code>1043:8752</code></td>
<td align="left">ASUS ROG Strix GTX 1660S O6G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2182</code></td>
<td align="center"><code>1043:86A5</code></td>
<td align="left">ASUS ROG GTX 1660 Ti OC 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1043:86D3</code></td>
<td align="left">ASUS ROG STRIX RTX 2060 EVO Gaming 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1043:868E</code></td>
<td align="left">ASUS ROG STRIX RTX 2060 O6G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1043:86D2</code></td>
<td align="left">ASUS ROG STRIX RTX 2060 O6G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E89</code></td>
<td align="center"><code>1043:8775</code></td>
<td align="left">ASUS ROG STRIX RTX 2060 O6G EVO Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1043:8730</code></td>
<td align="left">ASUS ROG STRIX RTX 2060S 8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F47</code></td>
<td align="center"><code>1043:8703</code></td>
<td align="left">ASUS ROG STRIX RTX 2060S A8G EVO Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1043:86FB</code></td>
<td align="left">ASUS ROG STRIX RTX 2060S O8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1043:86FC</code></td>
<td align="left">ASUS ROG STRIX RTX 2060S A8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F07</code></td>
<td align="center"><code>1043:8671</code></td>
<td align="left">ASUS ROG STRIX RTX 2070 A8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F07</code></td>
<td align="center"><code>1043:8670</code></td>
<td align="left">ASUS ROG STRIX RTX 2070 O8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1EC7</code></td>
<td align="center"><code>1043:86FF</code></td>
<td align="left">ASUS ROG STRIX RTX 2070S A8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1043:8728</code></td>
<td align="left">ASUS ROG STRIX RTX 2070S A8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1043:8706</code></td>
<td align="left">ASUS ROG STRIX RTX 2070S A8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1043:8729</code></td>
<td align="left">ASUS ROG STRIX RTX 2070S O8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1043:8707</code></td>
<td align="left">ASUS ROG STRIX RTX 2070S 8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1043:8727</code></td>
<td align="left">ASUS ROG STRIX RTX 2070S O8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E82</code></td>
<td align="center"><code>1043:867F</code></td>
<td align="left">ASUS ROG STRIX RTX 2080 8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>1043:865F</code></td>
<td align="left">ASUS ROG STRIX RTX 2080 O8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>1043:8661</code></td>
<td align="left">ASUS ROG STRIX RTX 2080 O8G V2 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>1043:8712</code></td>
<td align="left">ASUS ROG STRIX RTX 2080S A8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>1043:8711</code></td>
<td align="left">ASUS ROG STRIX RTX 2080S O8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>1043:876B</code></td>
<td align="left">ASUS ROG STRIX RTX 2080S O8G White</td>
</tr>
<tr>
<td align="center"><code>10DE:1E04</code></td>
<td align="center"><code>1043:8687</code></td>
<td align="left">ASUS ROG STRIX RTX 2080 Ti 11G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1043:866C</code></td>
<td align="left">ASUS ROG STRIX RTX 2080 Ti 11G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1043:866B</code></td>
<td align="left">ASUS ROG STRIX RTX 2080 Ti A11G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1043:866A</code></td>
<td align="left">ASUS ROG STRIX RTX 2080 Ti O11G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1043:87C6</code></td>
<td align="left">ASUS TUF RTX 3060 Ti 8G Gaming OC</td>
</tr>
<tr>
<td align="center"><code>1002:687F</code></td>
<td align="center"><code>1043:0555</code></td>
<td align="left">ASUS AREZ Strix RX Vega 56 O8G</td>
</tr>
<tr>
<td align="center"><code>1002:687F</code></td>
<td align="center"><code>1043:04C4</code></td>
<td align="left">ASUS Vega 64 Strix</td>
</tr>
<tr>
<td align="center"><code>1002:731F</code></td>
<td align="center"><code>1043:04EC</code></td>
<td align="left">ASUS RX 5600XT Strix O6G Gaming</td>
</tr>
<tr>
<td align="center"><code>1002:731F</code></td>
<td align="center"><code>1043:04E2</code></td>
<td align="left">ASUS RX 5700XT Strix Gaming OC</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1043:04F6</code></td>
<td align="left">ASUS RX 6800 TUF Gaming OC</td>
</tr>
<tr>
<td align="center"><code>1002:67DF</code></td>
<td align="center"><code>1043:04B0</code></td>
<td align="left">ASUS ROG STRIX RX470 O4G GAMING</td>
</tr>
<tr>
<td align="center"><code>1002:67DF</code></td>
<td align="center"><code>1043:04FB</code></td>
<td align="left">ASUS ROG STRIX RX480 Gaming OC</td>
</tr>
<tr>
<td align="center"><code>1002:67FF</code></td>
<td align="center"><code>1043:04BC</code></td>
<td align="left">ASUS ROG STRIX RX560 Gaming</td>
</tr>
<tr>
<td align="center"><code>1002:67DF</code></td>
<td align="center"><code>1043:04C2</code></td>
<td align="left">ASUS RX 570 Strix O4G Gaming OC</td>
</tr>
<tr>
<td align="center"><code>1002:67DF</code></td>
<td align="center"><code>1043:0517</code></td>
<td align="left">ASUS RX 580 Strix Gaming OC</td>
</tr>
<tr>
<td align="center"><code>1002:67DF</code></td>
<td align="center"><code>1043:0519</code></td>
<td align="left">ASUS RX 580 Strix Gaming TOP</td>
</tr>
</tbody></table>
