<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="corsair-peripheral">Corsair Peripheral</h1>
<p>All controllers support <code>Direct</code> mode
Currently HW modes are implemented for the following devices:</p>
<ul>
<li>Corsair K70 RGB MK.2</li>
<li>Corsair K70 RGB MK.2 Low Profile</li>
</ul>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Not supported by controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are not fully implemented by controller (See device page for details)</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B3D</code></td>
<td align="left">Corsair K55 RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B17</code></td>
<td align="left">Corsair K65 RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B37</code></td>
<td align="left">Corsair K65 LUX RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B39</code></td>
<td align="left">Corsair K65 RGB RAPIDFIRE</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B4F</code></td>
<td align="left">Corsair K68 RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B13</code></td>
<td align="left">Corsair K70 RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B36</code></td>
<td align="left">Corsair K70 LUX</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B33</code></td>
<td align="left">Corsair K70 LUX RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B38</code></td>
<td align="left">Corsair K70 RGB RAPIDFIRE</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B49</code></td>
<td align="left">Corsair K70 RGB MK.2</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B6B</code></td>
<td align="left">Corsair K70 RGB MK.2 SE</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B55</code></td>
<td align="left">Corsair K70 RGB MK.2 Low Profile</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B11</code></td>
<td align="left">Corsair K95 RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B2D</code></td>
<td align="left">Corsair K95 RGB PLATINUM</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B20</code></td>
<td align="left">Corsair Strafe</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B44</code></td>
<td align="left">Corsair Strafe Red</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B48</code></td>
<td align="left">Corsair Strafe MK.2</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B34</code></td>
<td align="left">Corsair Glaive RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B74</code></td>
<td align="left">Corsair Glaive RGB PRO</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B3C</code></td>
<td align="left">Corsair Harpoon RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B75</code></td>
<td align="left">Corsair Harpoon RGB PRO</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B5D</code></td>
<td align="left">Corsair Ironclaw RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B12</code></td>
<td align="left">Corsair M65</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B2E</code></td>
<td align="left">Corsair M65 PRO</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B5A</code></td>
<td align="left">Corsair M65 RGB Elite</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B5C</code></td>
<td align="left">Corsair Nightsword</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B1E</code></td>
<td align="left">Corsair Scimitar RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B3E</code></td>
<td align="left">Corsair Scimitar PRO RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B8B</code></td>
<td align="left">Corsair Scimitar Elite RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B2F</code></td>
<td align="left">Corsair Sabre RGB</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>1B3B</code></td>
<td align="left">Corsair MM800 RGB Polaris</td>
</tr>
<tr>
<td align="center"><code>1B1C</code></td>
<td align="center"><code>0A34</code></td>
<td align="left">Corsair ST100 RGB</td>
</tr>
</tbody></table>
