<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="ene-smbus-device">ENE SMBus Device</h1>
<h2 id="connection-type">Connection Type</h2>
<p> SMBus</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>:</code></td>
<td align="center"><code>:</code></td>
<td align="left"></td>
</tr>
<tr>
<td align="center"><code>:</code></td>
<td align="center"><code>:</code></td>
<td align="left"></td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1043:87FB</code></td>
<td align="left">ASUS KO RTX 3060 OC O12G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1043:87F5</code></td>
<td align="left">ASUS TUF 3060 O12G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2487</code></td>
<td align="center"><code>1043:8865</code></td>
<td align="left">ASUS TUF 3060 O12G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1043:8816</code></td>
<td align="left">ASUS TUF 3060 O12G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1043:87F3</code></td>
<td align="left">ASUS ROG STRIX 3060 O12G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1043:8818</code></td>
<td align="left">ASUS ROG STRIX 3060 O12G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1043:8821</code></td>
<td align="left">ASUS KO RTX 3060 O12G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1043:883E</code></td>
<td align="left">ASUS KO RTX 3060Ti O8G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>1043:87C6</code></td>
<td align="left">ASUS TUF RTX 3060Ti O8G OC</td>
</tr>
<tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>1043:87BA</code></td>
<td align="left">ASUS ROG STRIX 3060Ti O8G OC</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1043:8827</code></td>
<td align="left">ASUS TUF RTX 3060Ti O8G OC</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1043:8834</code></td>
<td align="left">ASUS ROG STRIX 3060Ti O8G V2</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1043:87B8</code></td>
<td align="left">ASUS ROG STRIX 3070 OC</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1043:87B9</code></td>
<td align="left">ASUS ROG STRIX 3070 O8G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1043:87E0</code></td>
<td align="left">ASUS ROG STRIX 3070 O8G White</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1043:882C</code></td>
<td align="left">ASUS ROG STRIX 3070 O8G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1043:8832</code></td>
<td align="left">ASUS ROG STRIX 3070 O8G V2 White</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1043:87C1</code></td>
<td align="left">ASUS TUF RTX 3070 O8G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1043:8842</code></td>
<td align="left">ASUS KO RTX 3070 O8G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1043:8825</code></td>
<td align="left">ASUS TUF RTX 3070 O8G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1043:880E</code></td>
<td align="left">ASUS ROG STRIX 3070Ti O8G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1043:8812</code></td>
<td align="left">ASUS TUF RTX 3070Ti O8G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1043:8813</code></td>
<td align="left">ASUS TUF RTX 3070Ti O8G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1043:87C4</code></td>
<td align="left">ASUS TUF RTX 3080 10G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1043:87B2</code></td>
<td align="left">ASUS TUF RTX 3080 10G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1043:87B0</code></td>
<td align="left">ASUS TUF RTX 3080 O10G OC</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1043:87AA</code></td>
<td align="left">ASUS ROG STRIX 3080 10G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1043:87AC</code></td>
<td align="left">ASUS ROG STRIX 3080 O10G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1043:87D1</code></td>
<td align="left">ASUS ROG STRIX 3080 O10G WHITE</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1043:882F</code></td>
<td align="left">ASUS ROG STRIX 3080 10G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1043:882E</code></td>
<td align="left">ASUS ROG STRIX 3080 O10G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1043:8830</code></td>
<td align="left">ASUS ROG STRIX 3080 O10G V2 WHITE</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1043:8822</code></td>
<td align="left">ASUS TUF RTX 3080 O10G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1043:8823</code></td>
<td align="left">ASUS TUF RTX 3080 O10G V2 GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>1043:886E</code></td>
<td align="left">ASUS TUF RTX 3080 O12G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>1043:886C</code></td>
<td align="left">ASUS ROG STRIX RTX 3080 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>1043:886B</code></td>
<td align="left">ASUS ROG STRIX RTX 3080 O12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1043:8803</code></td>
<td align="left">ASUS TUF RTX 3080Ti 12G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1043:8802</code></td>
<td align="left">ASUS TUF RTX 3080Ti O12G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1043:8807</code></td>
<td align="left">ASUS ROG STRIX 3080Ti O12G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1043:8809</code></td>
<td align="left">ASUS ROG STRIX LC 3080Ti O12G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1043:87AD</code></td>
<td align="left">ASUS ROG STRIX 3090 24G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1043:87AF</code></td>
<td align="left">ASUS ROG STRIX 3090 O24G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1043:87D9</code></td>
<td align="left">ASUS ROG STRIX 3090 O24G GAMING White OC</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1043:87B5</code></td>
<td align="left">ASUS TUF RTX 3090 O24G</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1043:87B3</code></td>
<td align="left">ASUS TUF RTX 3090 O24G OC</td>
</tr>
<tr>
<td align="center"><code>1002:73DF</code></td>
<td align="center"><code>1043:05C9</code></td>
<td align="left">ASUS_TUF RX 6700XT O12G GAMING</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1043:04F2</code></td>
<td align="left">ASUS TUF RX 6800XT O16G GAMING</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1043:04FA</code></td>
<td align="left">ASUS TUF RX 6900XT O16G GAMING</td>
</tr>
<tr>
<td align="center"><code>1002:73AF</code></td>
<td align="center"><code>1043:04FE</code></td>
<td align="left">ASUS TUF RX 6900XT T16G GAMING</td>
</tr>
<tr>
<td align="center"><code>10DE:2684</code></td>
<td align="center"><code>1043:889A</code></td>
<td align="left">ASUS TUF RTX 4090 O24G OC</td>
</tr>
<tr>
<td align="center"><code>10DE:2684</code></td>
<td align="center"><code>1043:889B</code></td>
<td align="left">ASUS TUF RTX 4090 O24G</td>
</tr>
</tbody></table>
