<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="gigabyte-fusion-gpu">Gigabyte Fusion GPU</h1>
<h2 id="connection-type">Connection Type</h2>
<p> I2C</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>10DE:1C82</code></td>
<td align="center"><code>1458:372A</code></td>
<td align="left">Gigabyte GTX1050 Ti G1 Gaming (rev A1)</td>
</tr>
<tr>
<td align="center"><code>10DE:1C82</code></td>
<td align="center"><code>1458:372A</code></td>
<td align="left">Gigabyte GTX1050 Ti G1 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1C03</code></td>
<td align="center"><code>1458:3716</code></td>
<td align="left">Gigabyte GTX1060 G1 Gaming 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:1C03</code></td>
<td align="center"><code>1458:3739</code></td>
<td align="left">Gigabyte GTX1060 G1 Gaming 6G OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1C03</code></td>
<td align="center"><code>1458:3757</code></td>
<td align="left">Gigabyte GTX1060 Xtreme Gaming V1</td>
</tr>
<tr>
<td align="center"><code>10DE:1C03</code></td>
<td align="center"><code>1458:3776</code></td>
<td align="left">Gigabyte GTX1060 Xtreme Gaming v2</td>
</tr>
<tr>
<td align="center"><code>10DE:1B81</code></td>
<td align="center"><code>1458:3778</code></td>
<td align="left">Gigabyte GTX1070 Xtreme Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B81</code></td>
<td align="center"><code>1458:3772</code></td>
<td align="left">Gigabyte GTX1070 G1 Gaming 8G V1</td>
</tr>
<tr>
<td align="center"><code>10DE:1B82</code></td>
<td align="center"><code>1458:3794</code></td>
<td align="left">Gigabyte GTX1070 Ti 8G Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B80</code></td>
<td align="center"><code>1458:3702</code></td>
<td align="left">Gigabyte GTX1080 G1 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1458:3752</code></td>
<td align="left">Gigabyte GTX1080 Ti 11G</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1458:374C</code></td>
<td align="left">Gigabyte GTX1080 Ti Gaming OC 11G</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1458:377A</code></td>
<td align="left">Gigabyte GTX1080 Ti Gaming OC BLACK 11G</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1458:3751</code></td>
<td align="left">Gigabyte GTX1080 Ti Xtreme Edition</td>
</tr>
<tr>
<td align="center"><code>10DE:1B06</code></td>
<td align="center"><code>1458:3762</code></td>
<td align="left">Gigabyte GTX1080 Ti Xtreme Waterforce Edition</td>
</tr>
<tr>
<td align="center"><code>10DE:1F82</code></td>
<td align="center"><code>1458:3FE4</code></td>
<td align="left">Gigabyte GTX1650 Gaming OC</td>
</tr>
<tr>
<td align="center"><code>10DE:2184</code></td>
<td align="center"><code>1458:3FC7</code></td>
<td align="left">Gigabyte GTX1660 Gaming OC 6G</td>
</tr>
<tr>
<td align="center"><code>10DE:21C4</code></td>
<td align="center"><code>1458:4014</code></td>
<td align="left">Gigabyte GTX1660 SUPER Gaming OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1458:37CE</code></td>
<td align="left">Gigabyte RTX2060 Gaming OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1458:3FC2</code></td>
<td align="left">Gigabyte RTX2060 Gaming OC PRO</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1458:3FC9</code></td>
<td align="left">Gigabyte RTX2060 Gaming OC PRO V2</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>1458:3FD0</code></td>
<td align="left">Gigabyte RTX2060 Gaming OC PRO White</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1458:404A</code></td>
<td align="left">Gigabyte RTX2060 SUPER Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1458:3FED</code></td>
<td align="left">Gigabyte RTX2060 SUPER Gaming OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1458:3FFE</code></td>
<td align="left">Gigabyte RTX2060 SUPER Gaming OC 3X White 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1458:4009</code></td>
<td align="left">Gigabyte RTX2060 SUPER Gaming OC 3X 8G V2</td>
</tr>
<tr>
<td align="center"><code>10DE:1F02</code></td>
<td align="center"><code>1458:37AD</code></td>
<td align="left">Gigabyte RTX2070 Gaming OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1F02</code></td>
<td align="center"><code>1458:37C2</code></td>
<td align="left">Gigabyte RTX2070 Windforce 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1458:3FEB</code></td>
<td align="left">Gigabyte RTX2070S Gaming OC</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1458:4008</code></td>
<td align="left">Gigabyte RTX2070S Gaming OC 3X</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1458:4008</code></td>
<td align="left">Gigabyte RTX2070S Gaming OC 3X</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1458:400D</code></td>
<td align="left">Gigabyte RTX2070S Gaming OC 3X White</td>
</tr>
<tr>
<td align="center"><code>10DE:1E82</code></td>
<td align="center"><code>1458:37D6</code></td>
<td align="left">Gigabyte RTX2080 Gaming OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>1458:37A7</code></td>
<td align="left">Gigabyte RTX2080 Gaming OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1458:37A9</code></td>
<td align="left">Gigabyte RTX2080 Ti GAMING OC 11G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>1458:3FE9</code></td>
<td align="left">Gigabyte RTX2080S Gaming OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2507</code></td>
<td align="center"><code>1458:40AA</code></td>
<td align="left">Gigabyte RTX3050 Gaming OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1458:4072</code></td>
<td align="left">Gigabyte RTX3060 EAGLE OC 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1458:4072</code></td>
<td align="left">Gigabyte RTX3060 EAGLE OC 12G V2</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1458:4071</code></td>
<td align="left">Gigabyte RTX3060 EAGLE 12G LHR V2</td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1458:4073</code></td>
<td align="left">Gigabyte RTX3060 Vision OC 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1458:4073</code></td>
<td align="left">Gigabyte RTX3060 Vision OC 12G LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2487</code></td>
<td align="center"><code>1458:4073</code></td>
<td align="left">Gigabyte RTX3060 Vision OC 12G v3.0</td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1458:4074</code></td>
<td align="left">Gigabyte RTX3060 Gaming OC 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2487</code></td>
<td align="center"><code>1458:4074</code></td>
<td align="left">Gigabyte RTX3060 Gaming OC 12G (rev. 2.0)</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1458:4074</code></td>
<td align="left">Gigabyte RTX3060 Gaming OC 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>1458:405B</code></td>
<td align="left">Gigabyte RTX3060 Ti EAGLE OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1458:405B</code></td>
<td align="left">Gigabyte RTX3060 Ti EAGLE OC 8G V2.0 LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1458:4060</code></td>
<td align="left">Gigabyte RTX3060 Ti EAGLE OC 8G V2.0 LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1458:4077</code></td>
<td align="left">Gigabyte RTX3060 Ti Vision OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1458:404C</code></td>
<td align="left">Gigabyte RTX3070 Gaming OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1458:404C</code></td>
<td align="left">Gigabyte RTX3070 Gaming OC 8G v3.0 LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1458:404D</code></td>
<td align="left">Gigabyte RTX3070 Vision 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1458:404D</code></td>
<td align="left">Gigabyte RTX3070 Vision 8G V2.0 LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1458:404E</code></td>
<td align="left">Gigabyte RTX3070 Eagle OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1458:408F</code></td>
<td align="left">Gigabyte RTX3070 Ti Gaming OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1458:408C</code></td>
<td align="left">Gigabyte RTX3070 Ti EAGLE 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1458:4090</code></td>
<td align="left">Gigabyte RTX3070 Ti Vision OC 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1458:403F</code></td>
<td align="left">Gigabyte RTX3080 Gaming OC 10G</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>1458:40A2</code></td>
<td align="left">Gigabyte RTX3080 Gaming OC 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1458:403F</code></td>
<td align="left">Gigabyte RTX3080 Gaming OC 10G</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1458:404B</code></td>
<td align="left">Gigabyte RTX3080 Vision OC 10G (REV 2.0)</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1458:404B</code></td>
<td align="left">Gigabyte RTX3080 Vision OC 10G</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1458:4088</code></td>
<td align="left">Gigabyte RTX3080 Ti Gaming OC 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1458:4085</code></td>
<td align="left">Gigabyte RTX3080 Ti EAGLE 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1458:4043</code></td>
<td align="left">Gigabyte RTX3090 Gaming OC 24G</td>
</tr>
</tbody></table>
