<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="logitech-lightspeed">Logitech Lightspeed</h1>
<p> The Lightspeed controller is the generic RGB Controller
for all Logitech HID++ devices that support feature page 8070.</p>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>405D</code></td>
<td align="left">Logitech G403 Wireless Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>407F</code></td>
<td align="left">Logitech G502 Wireless Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>4070</code></td>
<td align="left">Logitech G703 Wireless Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>4086</code></td>
<td align="left">Logitech G703 Hero Wireless Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>4053</code></td>
<td align="left">Logitech G900 Wireless Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>4067</code></td>
<td align="left">Logitech G903 Wireless Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>4087</code></td>
<td align="left">Logitech G903 Hero Wireless Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>4079</code></td>
<td align="left">Logitech G Pro Wireless Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>405F</code></td>
<td align="left">Logitech Powerplay Mat</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C332</code></td>
<td align="left">Logitech G502 Proteus Spectrum Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C08B</code></td>
<td align="left">Logitech G502 Hero Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C083</code></td>
<td align="left">Logitech G403 Prodigy Gaming Mouse</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C082</code></td>
<td align="left">Logitech G403 Wireless Gaming Mouse (wired)</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C08D</code></td>
<td align="left">Logitech G502 Wireless Gaming Mouse (wired)</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C087</code></td>
<td align="left">Logitech G703 Wireless Gaming Mouse (wired)</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C090</code></td>
<td align="left">Logitech G703 Hero Wireless Gaming Mouse (wired)</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C081</code></td>
<td align="left">Logitech G900 Wireless Gaming Mouse (wired)</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C086</code></td>
<td align="left">Logitech G903 Wireless Gaming Mouse (wired)</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C091</code></td>
<td align="left">Logitech G903 Hero Wireless Gaming Mouse (wired)</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>C088</code></td>
<td align="left">Logitech G Pro Wireless Gaming Mouse (wired)</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>0AB5</code></td>
<td align="left">Logitech G733 Gaming Headset</td>
</tr>
<tr>
<td align="center"><code>046D</code></td>
<td align="center"><code>0A87</code></td>
<td align="left">Logitech G935 Gaming Headset</td>
</tr>
</tbody></table>
