<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="msi-mystic-light-185-byte">MSI Mystic Light (185 Byte)</h1>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Controller saves automatically on every update</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>1720</code></td>
<td align="left">MSI Mystic Light MS_1720</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7B12</code></td>
<td align="left">MSI Mystic Light MS_7B12</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7B16</code></td>
<td align="left">MSI Mystic Light MS_7B16</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7B17</code></td>
<td align="left">MSI Mystic Light MS_7B17</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7B18</code></td>
<td align="left">MSI Mystic Light MS_7B18</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7B50</code></td>
<td align="left">MSI Mystic Light MS_7B50</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7B85</code></td>
<td align="left">MSI Mystic Light MS_7B85</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7B93</code></td>
<td align="left">MSI Mystic Light MS_7B93</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C34</code></td>
<td align="left">MSI Mystic Light MS_7C34</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C35</code></td>
<td align="left">MSI Mystic Light MS_7C35</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C36</code></td>
<td align="left">MSI Mystic Light MS_7C36</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C37</code></td>
<td align="left">MSI Mystic Light MS_7C37</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C56</code></td>
<td align="left">MSI Mystic Light MS_7C56</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C59</code></td>
<td align="left">MSI Mystic Light MS_7C59</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C60</code></td>
<td align="left">MSI Mystic Light MS_7C60</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C67</code></td>
<td align="left">MSI Mystic Light MS_7C67</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C71</code></td>
<td align="left">MSI Mystic Light MS_7C71</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C73</code></td>
<td align="left">MSI Mystic Light MS_7C73</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C75</code></td>
<td align="left">MSI Mystic Light MS_7C75</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C76</code></td>
<td align="left">MSI Mystic Light MS_7C76</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C77</code></td>
<td align="left">MSI Mystic Light MS_7C77</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C79</code></td>
<td align="left">MSI Mystic Light MS_7C79</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C80</code></td>
<td align="left">MSI Mystic Light MS_7C80</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C81</code></td>
<td align="left">MSI Mystic Light MS_7C81</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C83</code></td>
<td align="left">MSI Mystic Light MS_7C83</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C84</code></td>
<td align="left">MSI Mystic Light MS_7C84</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C86</code></td>
<td align="left">MSI Mystic Light MS_7C86</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C90</code></td>
<td align="left">MSI Mystic Light MS_7C90</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C91</code></td>
<td align="left">MSI Mystic Light MS_7C91</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C92</code></td>
<td align="left">MSI Mystic Light MS_7C92</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C94</code></td>
<td align="left">MSI Mystic Light MS_7C94</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C95</code></td>
<td align="left">MSI Mystic Light MS_7C95</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7C98</code></td>
<td align="left">MSI Mystic Light MS_7C98</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D06</code></td>
<td align="left">MSI Mystic Light MS_7D06</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D07</code></td>
<td align="left">MSI Mystic Light MS_7D07</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D08</code></td>
<td align="left">MSI Mystic Light MS_7D08</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D09</code></td>
<td align="left">MSI Mystic Light MS_7D09</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D13</code></td>
<td align="left">MSI Mystic Light MS_7D13</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D15</code></td>
<td align="left">MSI Mystic Light MS_7D15</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D17</code></td>
<td align="left">MSI Mystic Light MS_7D17</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D18</code></td>
<td align="left">MSI Mystic Light MS_7D18</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D19</code></td>
<td align="left">MSI Mystic Light MS_7D19</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D20</code></td>
<td align="left">MSI Mystic Light MS_7D20</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D25</code></td>
<td align="left">MSI Mystic Light MS_7D25</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D27</code></td>
<td align="left">MSI Mystic Light MS_7D27</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D28</code></td>
<td align="left">MSI Mystic Light MS_7D28</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D29</code></td>
<td align="left">MSI Mystic Light MS_7D29</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D30</code></td>
<td align="left">MSI Mystic Light MS_7D30</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D31</code></td>
<td align="left">MSI Mystic Light MS_7D31</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D32</code></td>
<td align="left">MSI Mystic Light MS_7D32</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D36</code></td>
<td align="left">MSI Mystic Light MS_7D36</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D38</code></td>
<td align="left">MSI Mystic Light MS_7D38</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D41</code></td>
<td align="left">MSI Mystic Light MS_7D41</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D42</code></td>
<td align="left">MSI Mystic Light MS_7D42</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D43</code></td>
<td align="left">MSI Mystic Light MS_7D43</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D50</code></td>
<td align="left">MSI Mystic Light MS_7D50</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D51</code></td>
<td align="left">MSI Mystic Light MS_7D51</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D52</code></td>
<td align="left">MSI Mystic Light MS_7D52</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D53</code></td>
<td align="left">MSI Mystic Light MS_7D53</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D54</code></td>
<td align="left">MSI Mystic Light MS_7D54</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D59</code></td>
<td align="left">MSI Mystic Light MS_7D59</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D69</code></td>
<td align="left">MSI Mystic Light MS_7D69</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D91</code></td>
<td align="left">MSI Mystic Light MS_7D91</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7E06</code></td>
<td align="left">MSI Mystic Light MS_7E06</td>
</tr>
<tr>
<td align="center"><code>1462</code></td>
<td align="center"><code>7D77</code></td>
<td align="left">MSI Mystic Light MS_7D77</td>
</tr>
</tbody></table>
