<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="razer">Razer</h1>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Controller saves automatically on every update</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0241</code></td>
<td align="left">Razer Blackwidow 2019</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0203</code></td>
<td align="left">Razer Blackwidow Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0209</code></td>
<td align="left">Razer Blackwidow Chroma Tournament Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0221</code></td>
<td align="left">Razer Blackwidow Chroma V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0228</code></td>
<td align="left">Razer Blackwidow Elite</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0211</code></td>
<td align="left">Razer Blackwidow Overwatch</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>024E</code></td>
<td align="left">Razer Blackwidow V3</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>025A</code></td>
<td align="left">Razer Blackwidow V3 Pro (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>025C</code></td>
<td align="left">Razer Blackwidow V3 Pro (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0A24</code></td>
<td align="left">Razer Blackwidow V3 TKL</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0258</code></td>
<td align="left">Razer Blackwidow V3 Mini (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0271</code></td>
<td align="left">Razer Blackwidow V3 Mini (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0216</code></td>
<td align="left">Razer Blackwidow X Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>021A</code></td>
<td align="left">Razer Blackwidow X Chroma Tournament Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>022A</code></td>
<td align="left">Razer Cynosa Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>025E</code></td>
<td align="left">Razer Cynosa Chroma V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>023F</code></td>
<td align="left">Razer Cynosa Lite</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0204</code></td>
<td align="left">Razer Deathstalker Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0227</code></td>
<td align="left">Razer Huntsman</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0226</code></td>
<td align="left">Razer Huntsman Elite</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0257</code></td>
<td align="left">Razer Huntsman Mini</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0243</code></td>
<td align="left">Razer Huntsman Tournament Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0266</code></td>
<td align="left">Razer Huntsman V2 Analog</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>026B</code></td>
<td align="left">Razer Huntsman V2 TKL</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>026C</code></td>
<td align="left">Razer Huntsman V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>021E</code></td>
<td align="left">Razer Ornata Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>025D</code></td>
<td align="left">Razer Ornata Chroma V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>028F</code></td>
<td align="left">Razer Ornata V3</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>020F</code></td>
<td align="left">Razer Blade (2016)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0224</code></td>
<td align="left">Razer Blade (Late 2016)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0270</code></td>
<td align="left">Razer Blade 14 (2021)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0233</code></td>
<td align="left">Razer Blade 15 (2018 Advanced)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>023B</code></td>
<td align="left">Razer Blade 15 (2018 Base)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0240</code></td>
<td align="left">Razer Blade 15 (2018 Mercury)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>023A</code></td>
<td align="left">Razer Blade 15 (2019 Advanced)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0246</code></td>
<td align="left">Razer Blade 15 (2019 Base)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0245</code></td>
<td align="left">Razer Blade 15 (2019 Mercury)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>024D</code></td>
<td align="left">Razer Blade 15 (2019 Studio)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0253</code></td>
<td align="left">Razer Blade 15 (2020 Advanced)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0255</code></td>
<td align="left">Razer Blade 15 (2020 Base)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0268</code></td>
<td align="left">Razer Blade 15 (Late 2020)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>026D</code></td>
<td align="left">Razer Blade 15 (2021 Advanced)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>026F</code></td>
<td align="left">Razer Blade 15 (2021 Base)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>027A</code></td>
<td align="left">Razer Blade 15 (2021 Base)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0210</code></td>
<td align="left">Razer Blade Pro (2016)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0225</code></td>
<td align="left">Razer Blade Pro (2017)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>022F</code></td>
<td align="left">Razer Blade Pro (2017 FullHD)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0234</code></td>
<td align="left">Razer Blade Pro (2019)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>024C</code></td>
<td align="left">Razer Blade Pro (Late 2019)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0256</code></td>
<td align="left">Razer Blade Pro 17 (2020)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0279</code></td>
<td align="left">Razer Blade Pro 17 (2021)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0205</code></td>
<td align="left">Razer Blade Stealth (2016)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0220</code></td>
<td align="left">Razer Blade Stealth (Late 2016)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>022D</code></td>
<td align="left">Razer Blade Stealth (2017)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0232</code></td>
<td align="left">Razer Blade Stealth (Late 2017)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0239</code></td>
<td align="left">Razer Blade Stealth (2019)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>024A</code></td>
<td align="left">Razer Blade Stealth (Late 2019)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0252</code></td>
<td align="left">Razer Blade Stealth (2020)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0259</code></td>
<td align="left">Razer Blade Stealth (Late 2020)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>026A</code></td>
<td align="left">Razer Book 13 (2020)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>006A</code></td>
<td align="left">Razer Abyssus Elite D.Va Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>006B</code></td>
<td align="left">Razer Abyssus Essential</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0064</code></td>
<td align="left">Razer Basilisk</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0065</code></td>
<td align="left">Razer Basilisk Essential</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0086</code></td>
<td align="left">Razer Basilisk Ultimate (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0088</code></td>
<td align="left">Razer Basilisk Ultimate (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0085</code></td>
<td align="left">Razer Basilisk V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0099</code></td>
<td align="left">Razer Basilisk V3</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0043</code></td>
<td align="left">Razer Deathadder Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>005C</code></td>
<td align="left">Razer Deathadder Elite</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>006E</code></td>
<td align="left">Razer Deathadder Essential</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0098</code></td>
<td align="left">Razer Deathadder Essential V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0071</code></td>
<td align="left">Razer Deathadder Essential White Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0084</code></td>
<td align="left">Razer Deathadder V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>008C</code></td>
<td align="left">Razer Deathadder V2 Mini</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>007C</code></td>
<td align="left">Razer Deathadder V2 Pro (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>007D</code></td>
<td align="left">Razer Deathadder V2 Pro (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>004C</code></td>
<td align="left">Razer Diamondback</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0059</code></td>
<td align="left">Razer Lancehead 2017 (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>005A</code></td>
<td align="left">Razer Lancehead 2017 (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0070</code></td>
<td align="left">Razer Lancehead 2019 (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>006F</code></td>
<td align="left">Razer Lancehead 2019 (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0060</code></td>
<td align="left">Razer Lancehead Tournament Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0024</code></td>
<td align="left">Razer Mamba 2012 (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0025</code></td>
<td align="left">Razer Mamba 2012 (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0044</code></td>
<td align="left">Razer Mamba 2015 (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0045</code></td>
<td align="left">Razer Mamba 2015 (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0073</code></td>
<td align="left">Razer Mamba 2018 (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0072</code></td>
<td align="left">Razer Mamba 2018 (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>006C</code></td>
<td align="left">Razer Mamba Elite</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0046</code></td>
<td align="left">Razer Mamba Tournament Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0053</code></td>
<td align="left">Razer Naga Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0093</code></td>
<td align="left">Razer Naga Classic</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>003E</code></td>
<td align="left">Razer Naga Epic Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>008D</code></td>
<td align="left">Razer Naga Left Handed</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0050</code></td>
<td align="left">Razer Naga Hex V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0067</code></td>
<td align="left">Razer Naga Trinity</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>008F</code></td>
<td align="left">Razer Naga Pro (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0090</code></td>
<td align="left">Razer Naga Pro (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0078</code></td>
<td align="left">Razer Viper</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0091</code></td>
<td align="left">Razer Viper 8kHz</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>008A</code></td>
<td align="left">Razer Viper Mini</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>007A</code></td>
<td align="left">Razer Viper Ultimate (Wired)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>007B</code></td>
<td align="left">Razer Viper Ultimate (Wireless)</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0207</code></td>
<td align="left">Razer Orbweaver Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0208</code></td>
<td align="left">Razer Tartarus Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0244</code></td>
<td align="left">Razer Tartarus Pro</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>022B</code></td>
<td align="left">Razer Tartarus V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F19</code></td>
<td align="left">Razer Kraken Kitty Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F21</code></td>
<td align="left">Razer Kraken Kitty Black Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F03</code></td>
<td align="left">Razer Tiamat 7.1 V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0C00</code></td>
<td align="left">Razer Firefly</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0C04</code></td>
<td align="left">Razer Firefly V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0068</code></td>
<td align="left">Razer Firefly Hyperflux</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0C01</code></td>
<td align="left">Razer Goliathus</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0C02</code></td>
<td align="left">Razer Goliathus Extended</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0C05</code></td>
<td align="left">Razer Strider Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F08</code></td>
<td align="left">Razer Base Station Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F20</code></td>
<td align="left">Razer Base Station V2 Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F26</code></td>
<td align="left">Razer Charging Pad Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F09</code></td>
<td align="left">Razer Chroma HDK</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F07</code></td>
<td align="left">Razer Chroma Mug Holder</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F0E</code></td>
<td align="left">Razer Chroma PC Case Lighting Kit</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0215</code></td>
<td align="left">Razer Core</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F1A</code></td>
<td align="left">Razer Core X</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F0D</code></td>
<td align="left">Razer Laptop Stand Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F2B</code></td>
<td align="left">Razer Laptop Stand Chroma V2</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F1D</code></td>
<td align="left">Razer Mouse Bungee V3 Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>007E</code></td>
<td align="left">Razer Mouse Dock Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F13</code></td>
<td align="left">Lian Li O11 Dynamic - Razer Edition</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0F1B</code></td>
<td align="left">Razer Seiren Emote</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0517</code></td>
<td align="left">Razer Nommo Chroma</td>
</tr>
<tr>
<td align="center"><code>1532</code></td>
<td align="center"><code>0518</code></td>
<td align="left">Razer Nommo Pro</td>
</tr>
</tbody></table>
