<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="sapphire-nitro-glow-v3">Sapphire Nitro Glow v3</h1>
<h2 id="connection-type">Connection Type</h2>
<p> I2C</p>
<h2 id="saving">Saving</h2>
<p> Not supported by controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Not supported by controller</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>1002:731F</code></td>
<td align="center"><code>1DA2:E409</code></td>
<td align="left">Sapphire RX 5700 (XT) Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:731F</code></td>
<td align="center"><code>1DA2:E410</code></td>
<td align="left">Sapphire RX 5700 XT Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:731F</code></td>
<td align="center"><code>1DA2:426E</code></td>
<td align="left">Sapphire RX 5700 XT Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:7340</code></td>
<td align="center"><code>1DA2:E423</code></td>
<td align="left">Sapphire RX 5500 XT Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1DA2:438E</code></td>
<td align="left">Sapphire RX 6800 XT Nitro+ SE</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1DA2:E438</code></td>
<td align="left">Sapphire RX 6800 XT/6900 XT Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1DA2:E439</code></td>
<td align="left">Sapphire RX 6800 Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:73DF</code></td>
<td align="center"><code>1DA2:E445</code></td>
<td align="left">Sapphire RX 6700 XT Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:73FF</code></td>
<td align="center"><code>1DA2:E448</code></td>
<td align="left">Sapphire RX 6600 XT Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1DA2:440E</code></td>
<td align="left">Sapphire RX 6900 XT Nitro+ SE</td>
</tr>
<tr>
<td align="center"><code>1002:73A5</code></td>
<td align="center"><code>1DA2:441D</code></td>
<td align="left">Sapphire RX 6950 XT Nitro+</td>
</tr>
<tr>
<td align="center"><code>1002:73AF</code></td>
<td align="center"><code>1DA2:F440</code></td>
<td align="left">Sapphire RX 6900 XT Toxic</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1DA2:F441</code></td>
<td align="left">Sapphire RX 6900 XT Toxic Limited Edition</td>
</tr>
<tr>
<td align="center"><code>1002:73BF</code></td>
<td align="center"><code>1DA2:440F</code></td>
<td align="left">Sapphire RX 6900 XT Toxic</td>
</tr>
</tbody></table>
