<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="thermaltake-riing-quad">Thermaltake Riing Quad</h1>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Not supported by controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are not supported by controller</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2260</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2260)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2261</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2261)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2262</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2262)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2263</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2263)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2264</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2264)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2265</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2265)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2266</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2266)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2267</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2267)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2268</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2268)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2269</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2269)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>226A</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x226A)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>226B</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x226B)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>226C</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x226C)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>226D</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x226D)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>226E</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x226E)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>226F</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x226F)</td>
</tr>
<tr>
<td align="center"><code>264A</code></td>
<td align="center"><code>2270</code></td>
<td align="left">Thermaltake Riing Quad (PID 0x2270)</td>
</tr>
</tbody></table>
