doctype html
//
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
head
  title OpenRGB
  meta(charset='utf-8')
  meta(name='description' content="Open source RGB lighting control that doesn't depend on manufacturer software")
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='../css/main.css')
  // Favicon
  link(rel='apple-touch-icon' sizes='180x180' href='../../static/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='../../static/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../../static/favicon/favicon-16x16.png')
  link(rel='manifest' href='../../static/favicon/site.webmanifest')
  link(rel='mask-icon' href='../../static/favicon/safari-pinned-tab.svg' color='#00d084')
  link(rel='shortcut icon' href='../../static/favicon/favicon.ico')
  meta(name='msapplication-TileColor' content='#00d084')
  meta(name='msapplication-config' content='../../static/favicon/browserconfig.xml')
  meta(name='theme-color' content='#00d084')
  //OpenGraph Tags
  meta(property='og:image' content='../../static/favicon/og-image.jpg')
  meta(property='og:image:width' content='211')
  meta(property='og:image:height' content='211')
  meta(property='og:description' content="Open source RGB lighting control that doesn't depend on manufacturer software")
  meta(property='og:title' content='OpenRGB')
  meta(property='og:url' content='https://openrgb.org')
  // Scripts
  script(src='../../node_modules/jquery/dist/jquery.min.js')
  script(src='../../node_modules/jquery.scrollex/jquery.scrollex.min.js')
  script(src='../../node_modules/skeljs/dist/skel.min.js')
  script(src='../js/util.js')
  script(src='../js/main.js')
// Header
header#header.alt
  .logo
    a(href='index.pug')
      img(src='../../static/images/OpenRGB White.webp' height='75px')
  a(href='#menu') Menu
// Nav
nav#menu
  ul.links
    li
      a(href='https://gitlab.com/CalcProgrammer1/OpenRGB') GitLab
    li
      a(href='releases.pug') Releases
    li
      a(href='plugins.pug') Plugins
    li
      a(href='https://discord.gg/AQwjJPY') Discord
    li
      a(href='https://www.reddit.com/r/OpenRGB/') Reddit
    li
      a(href='devices_08.pug') Supported Devices
    li
      a(href='https://help.openrgb.org') Troubleshooting
    li
      a(href='resize.pug') Resizing Zones
    li
      a(href='https://www.patreon.com/CalcProgrammer1') Patreon
// Banner
section.banner.half
  article
    img(src='../../static/images/green.webp' alt='OpenRGB green color scheme')
    .inner
      header
        p
          | OpenRGB&apos;s plugin system allows for limitless functionality. Expand your OpenRGB setup with these
          | plugins.
// One
section#one.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/EffectsPlugin.jpg' alt='OpenRGB Effects Plugin')
          .content
            header.align-center
              p Synchronize your setup with amazing effects
              h2 OpenRGB Effects Plugin
            p
              | The OpenRGB Effects Plugin provides an extensive list of custom effects that can be
              | synchronized across all devices that support Direct Mode. Many standard effects are
              | available such as Rainbow, Visor, Breathing, and more. Advanced effects include several
              | audio visualizations, Ambilight, GIF player, and a Shader renderer for using GLSL
              | shaders as RGB effects.
            header#pl.align-center
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin') GitLab (Source)
              br
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Windows+64')
                | Windows
                | (64-bit)
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Windows+32')
                | Windows
                | (32-bit)
              br
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+64')
                | Linux
                | (64-bit)
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=Linux+32')
                | Linux
                | (32-bit)
              br
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=MacOS+ARM64')
                | MacOS
                | (Apple Silicon ARM64)
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin/-/jobs/artifacts/master/download?job=MacOS+Intel')
                | MacOS
                | (Intel)
      div
        .box
          .image.fit
            img(src='../../static/images/VisualMap.jpg' alt='OpenRGB Visual Map Plugin')
          .content
            header.align-center
              p Lay out your devices however you like
              h2 OpenRGB Visual Map Plugin
            p
              | Normally, OpenRGB effects engines apply patterns one device at a time. With the Visual
              | Map Plugin, you can combine one or more devices into a custom grid, allowing incredible
              | effects to shine across your entire setup as one unified display.
            header#pl.align-center
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBVisualMapPlugin')
                | GitLab
                | (Source)
              br
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBVisualMapPlugin/-/jobs/artifacts/master/download?job=Windows+64')
                | Windows
                | (64-bit)
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBVisualMapPlugin/-/jobs/artifacts/master/download?job=Windows+32')
                | Windows
                | (32-bit)
              br
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBVisualMapPlugin/-/jobs/artifacts/master/download?job=Linux+64')
                | Linux
                | (64-bit)
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBVisualMapPlugin/-/jobs/artifacts/master/download?job=Linux+32')
                | Linux
                | (32-bit)
              br
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBVisualMapPlugin/-/jobs/artifacts/master/download?job=MacOS+ARM64')
                | MacOS
                | (Apple Silicon ARM64)
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBVisualMapPlugin/-/jobs/artifacts/master/download?job=MacOS+Intel')
                | MacOS
                | (Intel)
// Two
section#two.wrapper.style3
  .inner
    header.align-center
      p Synchronize lighting across multiple brands of devices
// Three
section#one.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB_Hardware_Sync_Plugin.webp' alt='OpenRGB Hardware Sync Plugin')
          .content
            header.align-center
              p Visualize system statistics with RGB
              h2 OpenRGB Hardware Sync Plugin
            p
              | Want to keep an eye on your CPU and GPU temperatures while you&apos;re in game? The Hardware
              | Sync Plugin will let you know if your temperatures are too high by changing the color of
              | your RGB. Many more system parameters are supported as well, and multiple devices can
              | indicate multiple measurements.
            header#pl.align-center
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBHardwareSyncPlugin')
                | GitLab
                | (Source)
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB_Fan_Plugin.webp' alt='OpenRGB Fan Sync Plugin')
          .content
            header.align-center
              p Integrate fan control into OpenRGB
              h2 OpenRGB Fan Sync Plugin
            p
              | Controlling all your RGB in one place is great, but what about your fan speeds? The Fan
              | Sync Plugin takes care of that. Using the same backend as the Hardware Sync Plugin, the
              | Fan Sync Plugin lets you map one or more system parameters to control fan speeds,
              | including custom fan curves.
            header#pl.align-center
              a(href='https://gitlab.com/ShadyNawara/openrgbfansyncplugin') GitLab (Source)
// Four
section#four.wrapper.style3
  .inner
// Five
section#five.wrapper.style2
  .inner
    .grid-style
      div
        .box
          .image.fit
            img(src='../../static/images/OpenRGB_SDK.webp' alt='OpenRGB E1.31 Receiver Plugin')
          .content
            header.align-center
              p Control OpenRGB from light show software
              h2 OpenRGB E1.31 Receiver Plugin
            p
              | OpenRGB provides an SDK for controlling lights from third party applications, but not all
              | lighting software supports it. The E1.31 protocol is an industry standard widely used in
              | both hobbyist and professional lighting control applications. Widely used for Christmas
              | light shows, many sequencing programs such as Vixen Lights and xLights can control E1.31
              | devices. With the E1.31 Receiver Plugin, you can now create fully sequenced light shows
              | for your OpenRGB devices.
            header#pl.align-center
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBE131ReceiverPlugin')
                | GitLab
                | (Source)
      div
        .box
          .image.fit
            img(src='../../static/images/plugins.webp' alt='OpenRGB Scheduler Plugin')
          .content
            header.align-center
              p Schedule your RGB lighting
              h2 OpenRGB Scheduler Plugin
            p
              | Want your RGB to shut off before bedtime but glow during the day? The OpenRGB Scheduler
              | Plugin lets you create customized schedules so that your RGB works exactly as you want
              | it to all throughout the day.
            header#pl.align-center
              a(href='https://gitlab.com/OpenRGBDevelopers/OpenRGBSchedulerPlugin')
                | GitLab
                | (Source)
// Six
section#six.wrapper.style3
  .inner
// Footer
footer#footer
  .container
    ul.icons
      li
        a.icon.fa-gitlab(href='https://gitlab.com/CalcProgrammer1/OpenRGB')
          span.label GitLab
      li
        a.icon.fa-github(href='https://github.com/CalcProgrammer1/OpenRGB')
          span.label GitHub
      li
        a.icon.fa-reddit(href='https://www.reddit.com/r/OpenRGB')
          span.label Reddit
      li
        a.icon.fa-youtube(href='https://www.youtube.com/c/CalcProgrammer1')
          span.label YouTube
      li
        a.icon.fa-twitter(href='https://twitter.com/CalcProgrammer1')
          span.label Twitter
  div
    img(src='https://visitor-badge.glitch.me/badge?page_id=org.openrgb.index' alt='Visitors')
  .copyright
    | &copy; OpenRGB, 2022
  div
    | OpenRGB is licensed under the GNU General Public License version 2
