body
    background #1f2223
    color white
    display block
    text-align center
    font-family 'Roboto', sans-serif
    cursor default
    scroll-behavior smooth

    .golink
        width 150px
        border-radius 20px
        background #131515
        transition all 0.2s ease-in-out
        display inline-block
        margin 5px 5px

        &:hover
            background #2b3030

    h1
        background #131515
        width 100%
        line-height 60px
        border-radius 20px

    table
        margin 0 auto
        background #131515
        border-radius 20px
        padding 10px

    th
        width 200px
        text-align: center

    td
        height 50px
        text-align: center

        a
            background: #1f2223
            transition all 0.2s ease-in-out
            border-radius: 20px
            text-align: center
            margin: 0 auto
            padding 3px
            &:hover
                background #2b3030

    h2
        width max-content
        background #131515
        border-radius 20px
        margin 15px auto
        padding 5px 10px

    ul
        margin 0 auto
        padding 0
        width 520px

    a
        text-decoration none
        line-height 30px
        cursor pointer
        color white
        width 150px
        display block

        &:link
            width 150px
